.body-wrapper {
    position: relative;
    overflow: hidden;
}

/* Header */

.primary-header {
    font-family: "Montserrat Alternates", serif;
    position: relative;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0px 10px #000;
    background-color: #fff;
    z-index: 100;
    transition: 1s;
}

.primary-header.primary-header-main {
    box-shadow: 0 0 0;
    background: none;
    transition: 1s
}

.side-nav {
    font-family: "Bona Nova", serif;
    text-transform: uppercase;
    font-weight: 28px;
    padding-left: 10%;
    padding-top: 20px;
}

.side-nav a {
    padding: 28px;
    color: #696969;
    text-decoration: none;
}

/* Footer */

.primary-footer {
    font-family: "Montserrat Alternates", serif;
    color: #000;
    background-color: rgb(247, 247, 247);
    padding: 30px 12px;
}

.footer-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.partner-logo {
    width: 60px;
    padding: 0 5px;
}
/*Навигация*/
.primary-nav {
    font-family: "Bona Nova", serif;
    text-transform: uppercase;
    display:flex;
    align-items: center;
}


.underline-wrapper {
    width: 100%;
    height: 3px;
}



.primary-nav a span {
    display: block;
    position: relative;
    width: 0;
    left: 50%;
    height: 2px;
    border-radius: 10px;
    background-color: #000;
    transition: 0.6s ease-in-out;
}

.primary-header-main .primary-nav a span {
    background-color: #fff;
}

.primary-nav a.current span {
    left: 0;
    width: 100%;
}


.primary-nav a:hover span {
    width: 100%;
    height: 2px;
    left: 0;
    transition: 0.6s ease-in-out;
}

.primary-nav .row {
    width: 100%;
}


/*Ссылки */
.primary-header a {
    color: #696969;
    text-decoration: none;
}

.primary-header .logo {
    color: #000;
    font-size: 28px;
}

.primary-nav a {
    text-align: center;
}

.primary-header-main a {
    color: #fff;
}

.primary-header-main .logo {
    color: #fff;
}

/* Контейнеры */

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.preview {
    position: relative;
    padding: 0;
    z-index: 1;
}

.object-preview {
    margin-bottom: 97px;
}

.space-cover-fluid {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin-bottom: -112px;
}

.text-article {
    display: flex; 
    flex-direction: column;
    font-family: "Montserrat Alternates", serif;
    justify-content: center;
    text-align: center;
    margin: 50px 0;
}

.text-article-under {
    margin: -36px 0 50px 0;
}

.object-preview .description-field {
    display: flex;
    font-family: "Montserrat Alternates", sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-row {
    margin-bottom: 3%;
}

.description-row:last-child {
    margin-bottom: 0;
}

.object-container {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding-top: 40px;
}

.object-page-row {
    margin-bottom: 20px;
    --bs-gutter-x: 0;
    
   
}

.object-section {
    border-bottom: rgb(220, 220, 220) solid 1px;
    margin-bottom: 20px;
}

.object-main-features {
    display: flex;
    flex-direction: row;
}

.object-main-features li {
    margin-right: 30px;
}

.object-main-features li:first-child {
    list-style-type: none;
}

.facilities-list {
    padding-top: 6px;
}

.loc-overview-row {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat Alternates", sans-serif;
    color: #FFF;
    font-size: 20px;
    aspect-ratio: 1.7;
    text-align: center;
    margin-bottom: 0;
    border: 1px solid #fff;
    
    
}

.map-container-wrapper {
    
}

.map-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.map-container iframe {
    width: 100%;
    height:100%;
}

.button-section {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
}

/* Изоображения */

.loc-image {
    display: inline-block;
    width: 60%;
    aspect-ratio: 400/200;
    margin-bottom: 20px;
}

.loc-overview-first {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),  url("20230728_200446.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.loc-overview-second {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("bay-and-beach-beautiful-crete-island-1024x576.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.loc-overview-third {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("octopus-for-starter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.image-fluid {
    width: 100%;
}



/* Списки */


.facilities-list ul{
    margin-bottom: 0;
}
.facilities-list li {
    display: flex;
    align-items: center;
    justify-content: start;
    list-style-type: none;
    height: 60px;
    margin-bottom: 20px;
}
.facilities-list img {
    display: inline-block;
    width: 48px;
    margin-right: 20px;
}

.facilities-list .text-field {
    display: inline-block;
}
.facilities-list h5 {
    margin-bottom: 2px;
}

.facilities-list p {
    width: 250px;
    margin: 0;
    line-height: 20px;
}

/* Типографика */

.object-preview h3 {
    text-align: center;
}

.object-preview p {
    text-align: center;
}

.loc-overview p {
    display: inline-block;
    width: 47%;
    margin-left: 3%;
    text-align: center;
    font-size: 28px;
}

.loc-overview-row span {
    max-width: 80%;
}

.loc-map .text-field {
    margin-bottom: 20px;
}
.loc-map p {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 24px; 
    text-align: center;
}

.features {
    display: flex;
    flex-direction: row;

    padding-left: 16px;
}
.features li {
    margin-right: 20px;
    font-size: 16px;
    color: grey;
}

.features li:first-child {
    list-style-type: none;
}
.preview {
    position: absolute;
    top: 0;
}
.preview video {
    display: block;
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    padding: 0;
    object-fit: cover;
    pointer-events: none;
}

.preview .preview-wrapper {
    font-family: "Montserrat Alternates", "Bona Nova", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.preview-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;   
}

.preview-element p {
    width: 60%;
    font-size: 28px;
    color: #FFF;
    text-align: center;
    margin-bottom: 5%;
}

.preview-element .overview-btn a {
    position: relative;
    z-index: 3;
    color: #FFF;
    text-align: center;
    text-decoration: none;
}

.preview-element .overview-btn {
    position: relative;
    font-family: "Bona Nova", sans-serif;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 72px;
    border: #FFF solid 2px;
    overflow: hidden;
}

.preview-element .overview-btn .overview-btn-wrapper {
    position: absolute;
    width: 276px;
    height: 68px;
    left: -276px;
    background-color: #FFF;
    z-index: 2;
    transition: 1s
}

.preview-element .overview-btn:hover .overview-btn-wrapper {
    left: 0;
    transition: 1s;
}

.preview-element .overview-btn:hover a {
    color: #000;
    text-decoration: underline;
}


.object-preview .object-btn {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    border: #696969 solid 2px;
    overflow: hidden;
}

.object-preview .object-btn .wrapper-left {
    position: absolute;
    width: 88px;
    height: 46px;
    left: -88px;
    background-color: #696969 ;
    z-index: 2;
    transition: 0.5s;

}

.object-preview .object-btn .wrapper-right {
    position: absolute;
    width: 88px;
    height: 46px;
    left: calc(88px * 2);
    background-color: #696969;
    z-index: 2;
    transition: 0.5s;

}
.object-preview .object-btn:hover a {
    color: #FFF;

}

.object-preview .object-btn:hover .wrapper-left {
    left: 0;
    transition: 0.5s ease-in-out;
}

.object-preview .object-btn:hover .wrapper-right {
    left: 88px;
    transition: 0.5s ease-in-out;
}


.object-preview .object-btn a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Bona Nova", serif;
    font-size: 24px;
    text-decoration: none;
    width: 180px;
    height: 50px;
    color: #696969;
    z-index: 3;
}

.book-btn {
    position: relative;
    width: 200px;
    height: 50px;
    border: 2px #27CDC0 solid;
}

.book-btn a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: "Bona Nova", serif;
    font-size: 24px;
    color: #27CDC0;
    text-decoration: none;
    z-index: 3;
}

.book-btn .wrapper {
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    background-color: #27CDC0;
    z-index: 2;
    transition: 0.5s;
}

.book-btn:hover .wrapper {
    width: 100%;
    left:0;
    transition: 0.5s;

}

.book-btn:hover {
    border: 2px #696969 solid;
    color: #696969;
}

.book-btn:hover a {
    color: #696969;
}


/* Скрипты */


.object-preview .glide {
    margin-bottom: 40px;
}

.object-preview .glide img {
    width: 100%;
    height: auto;
}

.objects-sep {
    width: 100%;
    height: 97px;
    overflow:hidden;
}

.objects-sep span {
    display: block;
    position: relative;
    top: 97px;
    left: 50%;
    width: 0;

    height: 3px;
    border-radius: 10px;
    background-color: #000;
    transition: 1s ease-in-out;
}

.objects-sep.element-show span {
    left: 0;
    width: 100%;
    top: 0;
    transition: 1s ease-in-out;
}



@media (max-width: 991px) {
    .primary-header .logo  {
        
    }

    .preview-element p {
        font-size: 22px;
    }

    .preview-element .overview-btn {
        width: 240px;
        height: 62px;
        font-size: 28px
    }

    .preview-element .overview-btn .overview-btn-wrapper {
        width: 236px;
        height: 58px;
        left: -236px;
    }


}


@media (max-width: 767px) {
    .primary-header .logo  {
        font-size: 24px;
    }
    .preview-element p {
        font-size: 18px;
    }

    .preview-element .overview-btn {
        width: 200px;
        height: 52px;
        font-size: 24px;
    }

    .preview-element .overview-btn .overview-btn-wrapper {
        width: 196px;
        height: 48px;
        left: -196px;
    }
}

@media (max-width: 575px) {
    .preview-element p {
        font-size: 14px;
    }

    .preview-element .overview-btn {
        width: 160px;
        height: 42px;
        font-size: 20px;
    }

    .preview-element .overview-btn .overview-btn-wrapper {
        width: 156px;
        height: 38px;
        left: -156px;
    }
}

@media (max-width: 407px) {
    .preview-element p {
        font-size: 12px;
        width: 80%;
    }

    .preview-element .overview-btn {
        width: 140px;
        height: 37px;
        font-size: 18px;
    }

    .preview-element .overview-btn .overview-btn-wrapper {
        width: 136px;
        height: 35px;
        left: -136px;
    }
}

.animation {
    position: relative;
    opacity: 0;
    
}



.animation-top {
    top: 100px; 
    transition: 1s ease-in-out;
}

.animation-left {
    left: -100px; 
    transition: 1s ease-in-out;
}

.animation.element-show {
    top:0;
    left: 0;
    transition: 1s ease-in-out;
    opacity: 1;
}

.pswp-gallery a {
    display: inline-block;

}
.pswp-gallery img {
    width: 100%;
    margin-bottom: 4px;
}

#gallery-main .header-image {
    width: 49%;
    float: left;
    margin-right: 4px;
}

#gallery-main a {
    width: 24.2%;
}

#gallery-location a {
    width: 49%;
}